<div class="dv-line">
  <div class="dv-column">
    <div class="dv-center">
      <div class="dv-line">
        <div class="dv-column flex">
          <div class="dv-padding-hdpi">
            <a
              routerLink="/inicio"
              routerLinkActive="active"
              class=" dv-blue dv-cursor flex"><img
                class="dv-vertical-align-middle dv-margin-right-ldpi flex"
                src="../../../../assets/icon/blue-back.svg"
                width="16"
              />Voltar para o início</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dv-line dv-border-top">
  <div class="dv-column">
    <div class="dv-center">
      <div class="dv-line">
        <div class="dv-column">
          <div class="dv-padding-hdpi dv-horizontal-align-left dv-vertical-align-center">
            <a href="http://www.codiub.com.br" target="_blank">
              <img src="/../../../../assets/codiub-logo.png" width="100" />
            </a>
          </div>
        </div>
        <div class="dv-column dv-horizontal-align-right">
          <div class="dv-padding-hdpi">
            <a
              routerLink="/politica/termos_uso"
              routerLinkActive="active"
              class="dv-margin-right-mdpi"
            >
              <p class="dv-display-inline dv-blue">
                Termos de uso
              </p>
            </a>

            <a routerLink="/politica/privacidade" routerLinkActive="active">
              <p class="dv-display-inline dv-blue ">
                Política de privacidade
              </p>
            </a>

            <div class="dv-line-break"></div>
              <p class="dv-gray"> © 2024 Transporte Especializado
                <a class="dv-blue " href="http://www.codiub.com.br" target="_blank">Codiub</a>
              </p>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
