<div class="dv-line dv-border-bottom">
  <div class="dv-column">
    <div class="dv-center">
      <div class="flex ">
        <div class="dv-column">
          <div class="dv-padding-hdpi">
            <p class="dv-gray">
              Olá, <span class="dv-bold">{{ nameUser }}</span>
            </p>
          </div>
        </div>

        <div class="dv-column dv-text-align-right">
          <div class="dv-padding-hdpi">
            
            <p
              (click)="logout()"
              class="dv-display-inline dv-blue dv-cursor"
            >
              Sair
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
