<div class="w-full max-w-2xl mx-auto bg-white shadow-lg rounded-lg p-6">
  <div class="text-center mb-5">
    <h2 class="text-2xl font-bold text-gray-800">🎲 Sorteador de Times</h2>
    <p class="text-gray-500 text-sm">Organize seus times de forma rápida e aleatória!</p>
  </div>


  <div class="mb-4">
    <label for="num-players" class="block text-sm">Jogadores por Time:</label>
    <input type="number" id="num-players"
      min="1" max="100" step="1"
      class="default-input w-full p-2.5"
      [(ngModel)]="numPlayers">
  </div>


  <div class="mb-4">
    <label for="player-names" class="block text-sm">Nomes dos Jogadores (um por linha):</label>
    <textarea id="player-names" rows="5"
      class="default-input w-full p-2.5"
      [(ngModel)]="playerNames"></textarea>
  </div>


  <div class="flex justify-center">
    <app-button-primary value="🎲 Sortear Times" (click)="sortearTimes()" class="">

    </app-button-primary>
  </div>


  <div *ngIf="errorMessage" class="mt-4 text-red-600 text-center bg-red-100 border border-red-400 px-4 py-2 rounded-lg">
    {{ errorMessage }}
  </div>


  <div id="resultado" class="mt-6">
    <div *ngFor="let team of teams; let i = index" class="bg-gray-100 p-4 rounded-lg shadow-md mt-4">
      <h4 class="text-lg font-bold text-gray-800">🔥 Time {{ i + 1 }}</h4>
      <ul class="mt-2 space-y-1">
        <li *ngFor="let player of team" class="text-gray-700">⚽ {{ player }}</li>
      </ul>
    </div>
  </div>

  <div class="flex justify-center mt-5">
    <small class="text-gray-500">Criadores: Guilherme e Victor</small>
  </div>
</div>
