<div class="h-screen">
  <app-navbar-login></app-navbar-login>

  <section class="flex items-center justify-center w-full h-4/5">
    <div
      class="max-sm:w-screen max-sm:m-5 sm:w-screen sm:m-5 sm:flex sm:justify-center"
    >
      <div
        class="bg-white w-full rounded-lg shadow dark:border md:mt-0 sm:max-w-3xl xl:p-0"
      >
        <div class="flex items-center justify-center">
          <img
            class="m-7 mb-0"
            src="../../../../../assets/codiub-logo.png"
            alt=""
            width="20%"
          />
        </div>

        <div class="flex justify-center text-center">
          <div
            class="col p-6 space-y-4 md:space-y-6 sm:p-8 max-lg:block lg:block md:block"
            id="sobreSistema"
          >

            <div>
              <p class="space-y-4 md:space-y-6 text-2xl">
               Este link está expirado
              </p>
            </div>

            <div>
              <a
              routerLink="/cms/login"
              routerLinkActive="active"
                class="w-full flex items-center justify-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-blue-500 hover:bg-blue-700 md:py-2 md:text-lg md:px-4"
              >
                Voltar
              </a>
            </div>
          </div>


        </div>
      </div>
    </div>
  </section>
</div>
