<footer
  [ngStyle]="{
    'background-color': styleService.colorVariables['bg_primary_color']
  }"
>
  <div class="w-full mx-auto md:py-4 p-4">
    <div class="sm:flex sm:items-center sm:justify-between">
      <a href="https://codiub.com.br/" target="_blank">
      <img
        src="../../../assets/white-codiub.png"
        class="h-8"
        alt=""
      />
      </a>

      <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© 2024
      <a href="https://codiub.com.br/"  target="_blank" class="hover:underline">Codiub</a> - Todos os direitos reservados.</span
    >
    </div>
  </div>
</footer>
